/* header */

.min-vh {
  min-height: 100vh;
}

.min-vw {
  width: 100vw;
}

.box-pict {
  margin: auto;
  width: 200px;
  height: 200px;
  background-image: url(../image/tes.jpg);
  background-size: cover;
  background-position: 10px 0px;
  border-radius: 100%;
}

p,
h1 {
  color: #939393;
  line-height: 1;
  margin-bottom: 0px;
}

h1 {
  font-size: 67px;
}

.sub-title {
  font-size: 21px;
  border-bottom: 2px solid #939393;
}

.font-color {
  color: #f8bb10;
}
.custom-progress-bar {
  background-color: #f8bb10;
}

.ant-steps-item-finish
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot {
  background: #f8bb10;
}

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background: #ececec;
}

.exp-title,
.profile-title,
.award-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
}

.exp-desc,
.award-desc {
  font-size: 16px;
}

.custom-step {
  /* position: absolute; */
  padding: 0px 15px;
  height: 100%;
}

.line-border {
  height: 100%;
  width: 2px;
  background-color: #ececec;
}

.box-projek {
  height: 0px;
  overflow: hidden;
  transition: 3s;
}

.box-projek.open-projek {
  transition: 3s;
  height: auto;
}
.btn-more {
  color: #0072ff;
}

.btn-more:focus {
  box-shadow: none;
}

/* @media (min-width: 576px) { ... }

@media (min-width: 768px) { ... }


@media (min-width: 992px) { ... }


@media (min-width: 1200px) { ... }
 */

@media (min-width: 1400px) {
}
